<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.flab.fream.mybatis.mapper.user.AddressMapper">
    <resultMap id="addressResultMap" type="kr.flab.fream.domain.user.model.Address">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="alias" property="alias"/>
        <result column="address" property="address"/>
        <result column="addressDetail" property="addressDetail"/>
        <result column="isDefault" property="isDefault"/>
    </resultMap>

    <insert id="addAddress"  keyProperty="id"   parameterType="kr.flab.fream.domain.user.model.Address"   useGeneratedKeys="true">
        INSERT INTO address (user_id, alias, address, address_detail,
                             is_default)
        VALUES (#{userId}, #{alias}, #{address}, #{addressDetail},
                #{isDefault})
    </insert>

    <update id="updateAddress" keyProperty="id" parameterType="kr.flab.fream.domain.user.model.Address">
        UPDATE address
        SET
            <if test="alias != null">
                alias = #{alias},
            </if>
            <if test ="address != null">
                address = #{address},
            </if>
           <if test ="addressDetail != null">
               address_detail = #{addressDetail},
           </if>
           <if test="isDefault != null">
               is_default = #{isDefault}
           </if>

        WHERE id = #{id}
    </update>

    <delete id="deleteAddress" parameterType="java.util.List">
        delete
        from
        address
        where
        <foreach collection="list" item = "address"  separator="OR">
            id = #{address.id}
        </foreach>
    </delete>

    <select id="getAddress" parameterType="kr.flab.fream.domain.user.model.Address" resultMap="addressResultMap">
        select
            id,
            user_id,
            alias,
            address,
            address_detail,
            is_default
        from address
        where
         id =#{id}
    </select>

    <select id="getAllAddress" parameterType="kr.flab.fream.domain.user.model.User" resultMap="addressResultMap">
        select
            id,
            user_id,
            alias,
            address,
            address_detail,
            is_default
        from address
        where
            user_id =#{id}
    </select>
</mapper>
