<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.flab.fream.mybatis.mapper.product.SizeMapper">

  <insert id="addSize"
      keyProperty="id"
      parameterType="kr.flab.fream.domain.product.model.Size"
      useGeneratedKeys="true">
    INSERT INTO size (name)
    VALUES (#{name})
  </insert>

  <insert id="addSizes" keyProperty="id" parameterType="List"
      useGeneratedKeys="true">
    INSERT INTO size (name)
    VALUES
    <foreach collection="sizes" item="item" separator=",">
      (#{item.name})
    </foreach>
  </insert>

</mapper>
