<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.flab.fream.mybatis.mapper.auction.AuctionLockByProductIdAndSizeIdMapper">

  <insert id="tryInsertRecord">
    INSERT IGNORE INTO auction_lock_by_product_id_and_size_id
    VALUES (#{productId}, #{sizeId})
  </insert>

  <select id="getLock" resultType="int">
    SELECT COUNT(*) FROM auction_lock_by_product_id_and_size_id
    WHERE product_id = #{productId}
        AND size_id = #{sizeId}
    FOR UPDATE
  </select>

</mapper>
